<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "blabla.bla.com"
        version   = "1.0.0">

    <name>Clicker game</name>

    <description>
        Click the button
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        Njt
    </author>
	
	<icon src="icon.png" />

</widget>